
.container{
    display:flex;
    flex-direction: row;
    padding-bottom: 12px;
    margin-left: 25%;
    

}
.thumbnails{
    width: 350px;
    border-radius: 15px;
    height: 200px;
    vertical-align: bottom;
    margin-right: 10px;
    
}
.thumbnails2{
    width: 350px;
    border-radius: 15px;
    height: 200px;
    vertical-align: bottom;
    padding-right: 0;
    
}
.vpclass{
 vertical-align: text-bottom;
}
    

 .vpclass2{
    
    width: 370px;
    vertical-align: text-bottom;
}




.chnlsy{
   height: 39px;
   width: 39px;
   vertical-align: text-bottom;
   margin-top: 14px;
   border-radius: 55px;

}



.channelpic{
    display: inline;
    margin-right: 12px;

    
}
.vpclass4{
    
height: 200px;
}




.vedioinfo{
    display: inline-block;
    vertical-align: top;
    

    margin-top: 18px;
    
}
.lastcap{
    line-height: 1px;
    color: rgb(50, 48, 48);
}
.vedio-title2{
    text-size-adjust: 15px;
    font-weight: 100px;
    font-weight: bold;
    margin-top: 0px;
    vertical-align: 12px right;
    width: 350px;

}.vedio-title{
    text-size-adjust: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.lastcap1{
    color: rgb(51, 49, 49);
    line-height: 0px;
    

}
.firstline{
    padding-bottom: 10px;
    margin-bottom: 0px;
    
    
}
.views{
    margin-top:10px;
    display: inline-block;
} .vpsecnd{
    display: flex;
    height: 60px;
    
    
}
.container2{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}
.allthumbs{
    margin-top: 100px;
    margin-right: 10px;

    
}
.vpclass3{
    vertical-align: text-bottom;
    margin-left: -11px;


}
.vpclass5{
    vertical-align: bottom;
    margin-left: 9px;
}
.vpclass6{
    vertical-align: bottom;
    margin-left: -43px;
}










    
    




